/* ============= VARIABLES & FONTS ============= */
:root {
  --mouse-cursor: url("/assets/img/cursor.png"), auto;
  --mouse-pointer: url("/assets/img/pointer.png"), pointer;
  --main-font: 'Emoticomic';
}

/* Regular */
@font-face {
  font-family: 'Emoticomic';
  src: url('/assets/fonts/emoticomic-regular.woff2') format('woff2');
  font-weight: 400;
}

/* Bold */
@font-face {
  font-family: 'Emoticomic';
  src: url('/assets/fonts/emoticomic-regular.woff2') format('woff2');
  font-weight: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  cursor: var(--mouse-cursor);
}

body {
  background-color: Navy;
  color: #A1D76A;
  font-family: 'Emoticomic';
  background-image: url('/assets/img/kukerche27.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1500px 1500px;
  background-position: right -600px bottom -500px;
}

.page-wrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.sidebar-left {
  width: 200px;
  flex-shrink: 0;
  background-color: #000000;
  border-right: 0;
  position: sticky;
  top: 0;
}

.sidebar-left iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.content-right {
  flex: 1;
  padding: 20px;
  max-width: 900px;
}

.content-right h1 {
  margin-bottom: 20px;
}

.content-right p {
  margin-bottom: 16px;
}

a,
button {
  color: Orange;
  cursor: var(--mouse-pointer);
}

.img-btn {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  cursor: var(--mouse-pointer);
}

.img-btn:focus,
.img-btn:active {
  outline: none;
  box-shadow: none;
}

.img-btn img {
  display: block;
}


/* 767px */
@media (max-width: 767px) {
  body {
    background-size: 700px 700px;
    background-position: right -280px bottom -340px;

    .page-wrapper {
      flex-direction: column;
    }

    .sidebar-left {
      width: 100%;
      height: 30vh;
      position: relative;
      border-right: none;
      border-bottom: 0;
    }

    .content-right {
      padding: 20px;
    }
  }
}

/* 768px-1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background-size: 700px 700px;
    background-position: right -280px bottom -340px;
  }
}


#webamp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 0;
  right: auto;
  bottom: auto;
}

#webamp .window {
  pointer-events: auto;
}